.blog-container {
  margin-left: 210px;
  margin-right: 200px;
  margin-top: 50px;
  border: 1px solid blue;
  padding: 20px;
}

.blog-title h2 {
  color: rgb(211, 105, 105);
}

@media screen and (max-width: 576px) {
  .blog-container {
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 150px;
    border: 1px solid blue;
    padding: 20px;
  }
}
